modules = ["python-3.12", "bash"]

run = """
bash setup_all_with_replit.sh \
&& cd dental_app \
&& source venv/bin/activate \
&& python app.py --host=0.0.0.0 --port=8080
"""

[nix]
channel = "stable-24_05"
packages = ["nano", "python3"]

[deployment]
run = ["sh", "-c", "bash setup_all_with_replit.sh && cd dental_app && source venv/bin/activate && python app.py --host=0.0.0.0 --port=8080"]

[[ports]]
localPort = 8080
externalPort = 80
